body {
	background-image: url("https://wallpapers.com/images/featured/travel-ibk7fgrvtvhs7qzg.jpg");
	background-size: cover;
	background-position-x: center;
	background-repeat: no repeat;
	font-family: 'Times New Roman', Times, serif;
	font-display: bold;
	margin: 0;
	padding: 0;
  }
  header {
	background-color: #a9ee0958;
	color: rgb(250, 12, 12);
	padding: 10px;
	text-align: center;
  }
  nav {
	background-color: #1b54a958;
	padding: 5px;
	text-align: center;
  }
  nav a {
	color: #0c0b0b;
	margin: 0 30px;
	text-decoration: none;
  }
  
  form {
	font-family: 'Times New Roman', Times, serif;
	font-display: bold;
	text-align: left;
	font-size: 18px;
	color: #0c0b0b;
	margin: 20px auto;
	width: 400px;
	height: 350px;
	position: relative;
	left: 00px;
	padding: 30px;
	background-color: #06dc11a0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	color: #fff;

  }
  .column {
	float: left;
	width: 22%;
	padding: 5px;
  }
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  .form-group {
	margin-bottom: 20px;
  }
  
  .form-group label {
	display: block;
	font-weight: bold;
	color: #644d4d;
  }
  
  .form-group input[type="text"] {
	width: 80%;
	padding: 10px;
	font-size: 12px;
	border: 1px solid #777;
	border-radius: 3px;
	box-sizing: border-box;
  }
  .form-group input[type="date"] {
	width: 80%;
	padding: 10px;
	font-size: 12px;
	border: 1px solid #777;
	border-radius: 3px;
	box-sizing: border-box;
  }
  
  .button {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 50%;
	color: #8e1183;
  }
  
  .primary-button {
	background-color: #f13c0f;
	border: none;
  }
  
  .glossy-button {
	background-color: #3498db;
	border: none;
	border-radius: 50%;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s ease-in-out;
  }

  footer {
	position: relative;
	background-color: #87cf12;
	color: #211f1f;
	padding: 1px;
	text-align: center;
	top: 100px;
	min-height: 5vh;
  }
  
  #content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
  }
  
  .title-bar {
	background-color: #bedc17;
	padding: 10px;
	margin-bottom: 0px;
  }
  
  .title-bar h3 {
	margin: 0;
  }
  
  .footer-text {
	font-size: 14px;
  }
  
